body {
    background-color: lightblue;
    font-family: "Hiragino Sans GB","Microsoft YaHei","STXihei","SimHei",Arial,sans-serif,sans-serif;
    color: #080808;
}

.wbnav {
    position: fixed;
    margin-top: 0;
    z-index: 1000;
    font-size: 20px;
    width: 100%;
}

.nav {
    background: rgba(250, 250, 250, 0.7);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: white;
}

.dropdown-toggle {
    border-radius: 30px 30px 0 0;
}

.nav>li>a {
    border-radius: 30px 30px 0 0;
}

#main {
    position: relative;
}

.box {
    padding: 15px 0 0 15px;
    float: left;
}

.content {
    border: 5px solid #EEE;
    box-shadow: 0 0 3px #CCC;
    border-radius: 0 50px 15px 50px;
    margin-top: 10px;
    width: 280px;
    word-wrap: break-word;
    background-color: rgba(230, 230, 230, 0.2);
}

.img_border {
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: rgba(178, 218, 199, 0.8);
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
}

.img_circle {
    border-radius: 25px;
}

.img_center {
    text-align: center;
}

.origin_post {
    margin-top: -2px;
}

.retweet_post {
    margin-left: 5px;
    background-color: rgba(250, 250, 250, 0.5);
    padding: 15px 10px 20px 10px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 10px;
}

.time_label {
    color: #999;
}

.post_img {
    max-width: 80%;
    height: 140px;
    border: 5px solid white;
}

.left_text {
    text-align: left;
}

.bar {
    border-radius: 5px 5px 0 0;
}

.origin_link:hover, .origin_link:visited,
.origin_link:link, .origin_link:hover:active {
    color: white;
}

a:hover, a:visited,
a:link, a:active {
    text-decoration: none;
}

#searchForm {
    margin-bottom: 0;
    /*background: #BBBBBB;*/
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

#search-text {
    padding: 0 12px;
    margin-bottom: 0;
    height: 26px;
    background: #FFF;
    vertical-align: middle;
    border-radius: 10px;
    border: 0;
}

input#search-text:focus {
    border-radius: 10px;
}
